nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  background-color: #f0f1f5;
}
