<nav class="container">
  <div>
    <a class="logo">astrovote</a>
    <p>rate trading astrology</p>
  </div>
  <!-- <tui-primitive-textfield
    class="mb-3"
    iconContent="tuiIconSearch"
    iconAlign="left"
    tuiTextfieldSize="m"
    [tuiTextfieldLabelOutside]="true"
  >Search Astrovote</tui-primitive-textfield> -->
  <tui-hosted-dropdown [content]="content">
    <tui-avatar text="Test" size="m"></tui-avatar>
  </tui-hosted-dropdown>
  <ng-template #content>
      <!-- <a class="menu-item" (click)="onSignOut()"> -->
        <div class="icon">
          <!-- <tui-svg src="tuiIconLogoutLarge"></tui-svg> -->
        </div>
        <div>{{ 'SIGN_OUT' }}</div>
      <!-- </a> -->
  </ng-template>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
