.nav-wrapper {
  top: 0px;
  background-color: white;
  position: sticky;
  z-index: 1;

  nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    .logo, .user-actions {
      flex-grow: 1;
      flex-basis: 0;
    }
    .user-actions {
      text-align: right;
    }
  }
}

.logo {
  text-decoration: none;
  color: black;
  .title {
    font-size: 16px;
    font-weight: 600;
  }
}

tui-avatar {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 64px);
  background-color: #f0f1f5;
}

.search {
  width: 640px;
}

.menu-item {
  cursor: pointer;
  width: 120px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  .icon {
    width: 35px;
  }
}

